Source: libtoml-parser-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Lucas Kanashiro <kanashiro@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-tiny-perl (>= 0.040)
Build-Depends-Indep: libtest-deep-fuzzy-perl <!nocheck>,
                     libtest-deep-perl <!nocheck>,
                     libtypes-serialiser-perl <!nocheck>,
                     perl
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libtoml-parser-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libtoml-parser-perl.git
Homepage: https://metacpan.org/release/TOML-Parser
Rules-Requires-Root: no

Package: libtoml-parser-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libtypes-serialiser-perl
Description: simple toml parser
 TOML::Parser is a simple toml parser.
 .
 This data structure complies with the tests provided at
 https://github.com/mojombo/toml/tree/master/tests.
